
.orderHeaderOuter { background-color: #2e3254; padding: 6px; height: 50px;}
.orderHeader { width: 20%; color:#fff; float: left; font-size: 2rem;}
.orderElem { width: 20%; float: left; font-size: 1.5rem; }
.order-title {
    padding: 10px 15px 10px 15px;
    height: 89px;
    margin-top: 15px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 15px;
    position: relative;
}
.additional_info span{ font-weight: bold; color: #777; }
.view_orders, .view_orders:hover { color: #428bca !important; }
